# Copiar este archivo con el nombre `.env`(mismo ditectorio),
# no modificar datos aqui, seran publicos y cualquiera los verá

# APP CONFIG
APP_NAME=Exa
APP_ENV=production
APP_DEBUG=false
SESSION_LIFETIME=120

# SECURITY CONFIG
AUTH_TOKEN_SECRET=cambiar_por_un_secret_aleatorio_largo
CSRF_SECRET=cambiar_por_un_secret_aleatorio_largo

# DATABASE CONFIG
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=exa_master
DB_USERNAME=root
DB_PASSWORD=

# MAILS CONFIG
MAIL_HOST=smtp.gmail.net
MAIL_PORT=587
MAIL_USERNAME=parallels@gmail.net
MAIL_PASSWORD=password
MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS=parallels@gmail.net
MAIL_FROM_NAME="EXA - Sistema Tributario y Contable"

# DEBUGBAR CONFIG
DEBUGBAR_ENABLED=false
DEBUGBAR_OPEN_STORAGE=false
DEBUGBAR_EDITOR=vscode
DEBUGBAR_LOCAL_SITE_PATH="C:\xampp\htdocs\exa"

# LOG CONFIG
LOG_ENABLED=false
LOG_LEVEL=none
